@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-poppins: 'Poppins', sans-serif;
    --color-primary: #5E3023;
    --color-secondary: #F3E9DC;
    --color-input: #F3F3F5;
    --color-white: #FFFFFF;
    --color-button: #C37F43;
    --color-card: #E0AB7C;
    --color-black: #000000;
    --color-success:         #3D8A4E;
    --color-success-bg:      #DCFCE7;
    --color-success-border:  #00C950;
    --color-danger:          #C0392B;
    --color-danger-bg:       #FFE2E2;
    --color-danger-border:   #FB2C36;
}
