*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bali-pattern{
    background-image: url('/assets/images/homeImage.png'); 
    background-size: cover;
    background-position: center;
}